html, body{
    height: 100%;
}

body { 
    background-image: url(../images/golden-gate-bridge-1081782.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}

#fullerLogo{
    text-align: center;
}

#startbtn { /*http://css3buttongenerator.com/*/
  background: #009DA7;
  background-image: -webkit-linear-gradient(top, #009DA7, #35c4cc);
  background-image: -moz-linear-gradient(top, #009DA7, #35c4cc);
  background-image: -ms-linear-gradient(top, #009DA7, #35c4cc);
  background-image: -o-linear-gradient(top, #009DA7, #35c4cc);
  background-image: linear-gradient(to bottom, #009DA7, #35c4cc);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 39px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#startbtn:hover {
  background: #fe724a;
  background-image: -webkit-linear-gradient(top, #fe724a, #de3607);
  background-image: -moz-linear-gradient(top, #fe724a, #de3607);
  background-image: -ms-linear-gradient(top, #fe724a, #de3607);
  background-image: -o-linear-gradient(top, #fe724a, #de3607);
  background-image: linear-gradient(to bottom, #fe724a, #de3607);
  text-decoration: none;
}

