/* /*font-family: 'Bubblegum Sans', cursive;
font-family: 'Baloo Paaji', cursive;
font-family: 'Rammetto One', cursive;
font-family: 'Abel', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Carme', sans-serif;*/
 

body { 
    background-image: url(../images/golden-gate-bridge-1081782.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    height: auto;
}

#welcomeScreen {
    margin-top: 40px;
}

#fullerLogo{
    text-align: center;
}

#fullerImg {
    max-width: 100%;
    height: auto;
}

#startbtn { /*http://css3buttongenerator.com/*/
    background: #009DA7;
    margin-top: 15px;
    background-image: -webkit-linear-gradient(top, #009DA7, #35c4cc);
    background-image: -moz-linear-gradient(top, #009DA7, #35c4cc);
    background-image: -ms-linear-gradient(top, #009DA7, #35c4cc);
    background-image: -o-linear-gradient(top, #009DA7, #35c4cc);
    background-image: linear-gradient(to bottom, #009DA7, #35c4cc);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 39px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#startbtn:hover {
  background: #fe724a;
  background-image: -webkit-linear-gradient(top, #fe724a, #de3607);
  background-image: -moz-linear-gradient(top, #fe724a, #de3607);
  background-image: -ms-linear-gradient(top, #fe724a, #de3607);
  background-image: -o-linear-gradient(top, #fe724a, #de3607);
  background-image: linear-gradient(to bottom, #fe724a, #de3607);
  text-decoration: none;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-bottom: 10px;
    font-size: 4em;
    color: white;
    font-family: 'Rammetto One', cursive;
    text-shadow:
    -10px -1px 0 #000,  
    -1px -1px 0 #000, 
    -9px 4px 0 #000, 
    1px 0px 0 #000;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 4em;
    color: white;
    font-family: 'Rammetto One', cursive;
    text-shadow:
    -10px -1px 0 #000,  
    -1px -1px 0 #000, 
    -9px 4px 0 #000, 
    1px 0px 0 #000;
}

.directions {
    text-align: center;
    margin-top: 0;
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

#startDiv {
    text-align: center;
    position: relative;
    -webkit-animation-name: startbutton;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */   
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: startbutton;
    animation-duration: 3s;    
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes startbutton {
    from {top: 200px;}
    to {top: 0px;}
}

@keyframes startbutton {
    from {top: 200px;}
    to {top: 0px;}
}

#startbtn:hover {
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
} 

h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: 'Abel',sans-serif;
} 

#time-container {
    margin-top: 30px;
    height: 120px;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

#button-container {
    text-align: center;

}

button {
    background: #009DA7;
    margin-top: 15px;
    background-image: -webkit-linear-gradient(top, #009DA7, #35c4cc);
    background-image: -moz-linear-gradient(top, #009DA7, #35c4cc);
    background-image: -ms-linear-gradient(top, #009DA7, #35c4cc);
    background-image: -o-linear-gradient(top, #009DA7, #35c4cc);
    background-image: linear-gradient(to bottom, #009DA7, #35c4cc);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 2em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #fe724a;
    background-image: -webkit-linear-gradient(top, #fe724a, #de3607);
    background-image: -moz-linear-gradient(top, #fe724a, #de3607);
    background-image: -ms-linear-gradient(top, #fe724a, #de3607);
    background-image: -o-linear-gradient(top, #fe724a, #de3607);
    background-image: linear-gradient(to bottom, #fe724a, #de3607);
    text-decoration: none;
}

.quiz-container {
    /* position: relative; */
    height: 250px;
    width: 71%;
    margin: 15px auto 0 auto; 
}

#quiz {
    top: 20%;
    transform: translateX(10px);
    font-family: 'Carme', sans-serif;
}

.slide {
    position: absolute;
    top: 0px;
    transition: opacity 0.5s;
    margin-top: 25px;
    background-color: white;
    padding: 15px 15px 0 15px;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

#results {
    margin-top: 20px;
}

